<div>
    <a href="{{ product.url}}">
      <img src="{{ product.featured_image | image_url: width: 200 }}">
      <h3>{{ product.title }}</h3>
      <p>{{ product.price | money }}</p>
    </a>
  </div>
  {{ products.title | link_to: product.url }}
